<div class="container drop-down-sort">
  <select (change)="onChange($event.target.value)">
    <option value="All" selected="selected"> All </option>
    <option value="Montana"> Montana </option>
    <option value="Oregon"> Oregon </option>
  </select>
</div>


<div *ngFor="let rafter of rafters | async | rafterSort:sortValue" class="col-sm-4" >
  <div class="panel list-panel list-center">
    <br>
    <h3 (click)="goToDetailPage(rafter)" class="list-rafter-name-link">{{rafter.name}}</h3>
    <br>
    <h4>{{rafter.state}}</h4>
  </div>
</div>
