<div class="container drop-down-sort">
  <select (change)="onChange($event.target.value)">
    <option value="All" selected="selected"> All </option>
    <option value="Montana"> Montana </option>
    <option value="Oregon"> Oregon </option>
  </select>
</div>


<div *ngFor="let rafter of rafters | async | rafterSort:sortValue" class="col-md-4 col-sm-6" >
  <div class="panel list-panel list-center">
    <br>
    <h3 (click)="goToDetailPage(rafter)" class="list-rafter-name-link wordWrap">{{rafter.name}}</h3>
    <br>
    <h4>{{rafter.state}}</h4>
    <div *ngIf="currentRoute === '/admin'">
      <br>
      <h5 class="wordWrap">{{rafter.email}}</h5>
      <app-edit-rafter [selectedRafter]="rafter"></app-edit-rafter>
    </div>
  </div>
</div>
