<div class="panel panel-default">
  <div class="panel-heading panel-heading-admin">
    <h3 class="panel-title">Add New Rafter to Group</h3>
  </div>
  <div class="panel-body">
    <div>
      <div class="add-input-row">

        <label class="add-input-item">Name:
          <input #newName class="admin-teal-input-text" type="text">
        </label>

        <label class="add-input-item">State:
          <input #newState class="admin-teal-input-text" type="text">
        </label>

        <label class="add-input-item">Email:
          <input #newEmail class="admin-teal-input-text" type="email">
        </label>
      </div>
      <br>
      <div class="add-input-row">

        <label class="add-input-item">Favorite River Stretch:
          <input #newFavoriteRiverStretch class="admin-teal-input-text" type="text" maxlength="50">
        </label>

        <label class="add-input-item">Guide:
          <input #newGuide class="admin-teal-input-text" type="text" maxlength="50">
        </label>

        <label class="add-input-item">Years Rafting:<br>
          <input #newYearsRafting class="admin-teal-input-text" type="number" min="1" max="80">
        </label>
      </div>
      <br>
      <div class="add-comments">
        <label class="add-comments-label">Comments:</label> <br>
        <textarea #newComments class="add-comments admin-teal-input-text new-comment-area" rows="3"></textarea>
      </div>


      <button (click)="submitForm(
      newName.value,
      newEmail.value,
      newState.value,
      newYearsRafting.value,
      newFavoriteRiverStretch.value,
      newGuide.value,
      newComments.value);

      newName.value='';
      newEmail.value='';
      newState.value='';
      newYearsRafting.value='';
      newFavoriteRiverStretch.value='';
      newGuide.value='';
      newComments.value=''" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Save</button>
    </div>
  </div>
</div>
<br>
<div>
  <app-rafter-list></app-rafter-list>
</div>
