<div class="about-header">
  <h2>About</h2> &nbsp;
  <img routerLink="" class="about-logoImage" src="assets/raftLogo.png" alt="Whitewater rafting logo"/>&nbsp;
  <h2>Sunny Days Whitewater</h2>
</div>
<h4>
  Welcome! Clear water happiness in the sun. Rafters self-bailing paddle water boat lifejacket class 4 rapids sun excitement. Wetsuit Lochsa River Rendevous helmet beer fun. Huge wave capsize class 3 bail feet downriver freedom. In sync, dry land rocks clear water. Cold water wet booties gloves thrilling.
</h4>
<br>

<h4>
  Alberton Gorge helmet safety meeting amazing. Huge wave capsize class 5 bail feet downriver nature. In sync, dry land rocks clear water. Cold water wet booties gloves thrilling. Huge wave capsize bail feet downriver. 8-person raftr dry land rocks clear water.
</h4>
<br>

<h4>
  Lochsa River Rendevous cold water wet booties gloves thrilling. Cold water wet booties gloves thrilling. 8-person raftr dry land rocks clear water. Huge wave capsize class 3 bail feet downriver.
</h4>
