/* You can add global styles to this file, and also import other style files */

body,
h1,
h2,
h3,
h4 {
  font-family: 'Macondo', cursive;
  color: white;
}

 /*begin     BACKGROUND IMAGE STYLING    */

body {
  background-image: url("assets/flatheadLakeMichaela.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*Create dark overlay of body background image*/
body:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

/*Move app above the overlay*/
app-root {
  /*if you have something that is positioned relative it will move it vertically according to what's on top of other things. the bigger the z-index the further it is brough up*/
  z-index: 10;
  position: relative;
}

 /*end     BACKGROUND IMAGE STYLING    */



/* begin    NAV BAR STYLING     */

.logoImage {
  max-width: 70px;
}

.nav-about-links-padding {
  padding-left: 30px;
}

.nav-link-RAFTERS {
  padding-right: 400px;
  font-size: 4em;
  color: white;
  z-index: 10;
  position: relative;
}

.nav-link-Admin {
  padding-right: 20px;
  z-index: 10;
  position: relative;
  color: teal;
}

/* end    NAV BAR STYLING     */



/* begin  ABOUT PAGE   STYLING     */

.about-logoImage {
  display: block;
  margin: auto;
  width: 8%;
  padding-bottom: 25px;
}

.about-headline {
  text-align: center;
}

.about-header {
  text-align: center;
  margin-top: -20px;
}

.about-header h2 {
  display: inline-block;
}
.about-header img {
  display: inline-block;
}

.about-paragraphs {
  padding-left: 90px;
  padding-right: 90px;
}

/* end  ABOUT PAGE    STYLING     */



/* begin  RAFTER-LIST COMPONENT   STYLING     */

.panel {
  background-color: rgba(0, 66, 66, 0.75);
  font-size: 60%;
  margin: 15px;
}

.list-center {
  text-align: center;
  min-height: 170px;
}

/* end   RAFTER-LIST COMPONENT    STYLING     */



/* begin     STYLING     */

/* end      STYLING     */
