/* You can add global styles to this file, and also import other style files */

body,
h1,
h2,
h3,
h4 {
  font-family: 'Macondo', cursive;
  color: white;
}

 /*begin     BACKGROUND IMAGE STYLING    */

body {
  background-image: url("assets/flatheadLakeMichaela.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*Create dark overlay of body background image*/
body:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

/*Move app above the overlay*/
app-root {
  /*if you have something that is positioned relative it will move it vertically according to what's on top of other things. the bigger the z-index the further it is brough up*/
  z-index: 10;
  position: relative;
}

 /*end     BACKGROUND IMAGE STYLING    */



/* begin    NAV BAR STYLING     */

.logoImage {
  max-width: 70px;
}

.nav-about-links-padding {
  padding-left: 30px;
}

.nav-link-RAFTERS {
  padding-right: 400px;
  font-size: 4em;
  color: white;
  z-index: 10;
  position: relative;
}

.nav-link-RAFTERS:hover {
  color: teal !important;
}

.nav-link-RAFTERS:visited {
  color: white;
  text-decoration: none !important;
}

.nav-link-RAFTERS:focus {
  color: white;
  text-decoration: none !important;
}

.nav-link-Admin {
  z-index: 10;
  position: relative;
  color: teal;
}

.nav-link-Admin:hover {
  color: white !important;
}

.nav-link-Admin:visited {
  color: teal;
  text-decoration: none !important;
}

.nav-link-Admin:focus {
  color: teal;
  text-decoration: none !important;
}

/* end    NAV BAR STYLING     */



/* begin  ABOUT PAGE   STYLING     */

.about-logoImage {
  display: block;
  margin: auto;
  width: 8%;
  padding-bottom: 25px;
}

.about-headline {
  text-align: center;
}

.about-header {
  text-align: center;
  margin-top: -20px;
}

.about-header h2 {
  display: inline-block;
}
.about-header img {
  display: inline-block;
}

.about-paragraphs {
  padding-left: 90px;
  padding-right: 90px;
}

/* end  ABOUT PAGE    STYLING     */



/* begin  RAFTER-LIST COMPONENT   STYLING     */

.drop-down-sort {
  color: teal;
  text-align: center;
  margin-top: -20px;
  padding-right: 50px;
  font-size: 130%;
}

.list-panel {
  background-color: rgba(0, 66, 66, 0.75);
  font-size: 60%;
  margin: 15px;
}

.list-panel:hover {
  background-color: rgba(0, 66, 66, .90);
  box-shadow: 2px 3px 4px black;
  transition: all 0.5s ease;
  font-size: 60%;
  margin: 15px;
}

.list-center {
  text-align: center;
  min-height: 170px;
}

.list-rafter-name-link:hover {
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 35px;
}

/* end   RAFTER-LIST COMPONENT    STYLING     */



/* begin  RAFTER-DETAIL COMPONENT   STYLING     */

.detail-panel {
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 475px;
}

.detail-container {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
}

.detail-teal-text {
  color: teal;
  font-size: 80%;
  padding-right: 10px;
  padding-left: 15px;
}

/* end  RAFTER-DETAIL COMPONENT    STYLING     */



/* begin  ADMIN PAGE  STYLING     */

.panel-default>.panel-heading {
  background-color: rgba(0, 66, 66, .95);
  color: white;
  margin-top: -20px;
}

.panel-default {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
.admin-teal-input-text {
  color: teal;
  font-size: 1.5em;
}

.admin input {
  padding-right: 120px;
}

.add-input-row {
  display: flex;
  justify-content: space-around;
}

.new-comment-area {
  width: 88%;
}

input[type="number"] {
   width: 90px;
}

.add-input-item {
  width: 20%;
}

.add-comments {
  text-align: center;
  padding-bottom: 10px;
}

.add-comments-label {
  float: left;
  padding-left: 65px;
}

.add-rafter-button {
  margin-left: 925px;
}

/* end   ADMIN PAGE   STYLING     */



/* begin EDIT-RAFTER for ADMIN    STYLING     */

.edit-teal-input-text {
  color: teal;
  font-size: 1.5em;
}
.edit-form-padding {
  padding: 10px;
}

/* end   EDIT-RAFTER for ADMIN   STYLING     */



/* begin     STYLING     */

/* end      STYLING     */



/* begin     STYLING     */

/* end      STYLING     */
